<!--<link rel="stylesheet" href="src/styles.css">-->
<div class="row mt-3">
  <div class="col-8 mx-auto text-center">
    <div class="card">
      <form class="form-inline mx-2">
        <div class="card-header w-100"><h2>Nowe zgłoszenie</h2></div>
        <label for="topic" class="w-50 mt-4"><b>Temat:</b></label>
        <input type="text" class="form-control w-50 mt-4" id="topic" [(ngModel)]="newRequest.title" name="topic"/>
        <label for="category" class="w-50 mt-4"><b>Kategoria:</b></label>
        <select id="category" #selectedCategory class="form-control w-50 mt-4">
          <option *ngFor="let category of categories" value=category>{{category}}</option>
        </select>
        <label for="content" class="w-50 mt-4"><b>Treść:</b></label>
        <textarea rows="4" class="form-control w-50 mt-4 mb-4" id="content" [(ngModel)]="newRequest.description" name="content"></textarea>
        <div class="card-footer w-100">
          <button class="btn btn-dark" (click)="send(selectedCategory.selectedIndex)" type="submit">Wyślij</button>
        </div>
      </form>
    </div>
    <p class="text-danger">{{message}}</p>
  </div>
</div>


